################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/C#Assignment/FileContentIndex/47625d09-a4bc-4d61-a5f9-a12bd56da9da.vsidx
/.vs/C#Assignment/FileContentIndex/a18ca69b-832a-4cd6-b98f-7eac49479ca3.vsidx
