################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/C#Assignment/FileContentIndex/47625d09-a4bc-4d61-a5f9-a12bd56da9da.vsidx
